<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientID" value="U8TuoosJTdEtYFXyY5Bh8w"/>
		<add key="ClientSecret" value="3LnQuhg5K1GhWjKr0hjLveweY7ni1w"/>
		<add key="Subreddit" value="worldnews"/>
		<add key="OAuthRedirect" value="http://127.0.0.1:8080/Reddit.NET/oauthRedirect"/>
		<add key="BrowserExePath" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"/>
	</appSettings>
</configuration>